@model Buoi2.Models.ViewModels.UserClaimViewModel
@{
	ViewData["Title"] = "Phân quyền";
}
<div class="container">
	<div class="row justify-content-center">
		<div class="card">
			<div class="card-header">
				<h2>Phân quyền người dùng</h2>
				<h3>Tài khoản: @ViewBag.UserName</h3>
			</div>
			<div class="card-body">
				<form asp-action="ManageUserClaims" method="post">
					<input type="hidden" asp-for="UserId" />
					<div class="form-group">
						<label>Phân quyền</label>
						@for (int i = 0; i < Model.Claims.Count; i++)
						{
							<div class="form-check mt-3">
								<input type="hidden" asp-for="Claims[i].ClaimType" />
								<input type="checkbox" class="form-check-input" asp-for="Claims[i].IsSelected" />
								<label class="form-check-label">@Model.Claims[i].ClaimType</label>
							</div>
						}
					</div>
					@* <button type="submit" class="btn btn-success mt-3">Đồng ý</button>
					<a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-secondary">Trở lại</a> *@
					<div class="d-flex align-items-center gap-2 mt-3">
						<button type="submit" class="btn btn-success">Đồng ý</button>
						<a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-secondary">Trở lại</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
